---

---

<h3 class="event-title">
    <slot />
</h3>

<style>
    .event-title {
        font-family: var(--ohs-family-text);
        font-weight: normal;
        --drop-highlight-color: var(--ohs-color-mixed-green);
    }
</style>
