---
import * as DateTime from "../datetime";
import { getCollection } from "astro:content";
import Basic from "../layouts/Basic.astro";
import Schedule from "../components/Schedule.astro";

const talks = (await getCollection("talks")).sort((a, b) =>
    DateTime.sorter(a.data.start, b.data.start),
);

---

<Basic title="Talks" description="Talk schedule" contentClass="talks">
    <h1>Talks</h1>
    <p>
        Talks are on <strong>Friday, May 23rd</strong>.
    </p>
    <Schedule urlRoot="/talks" items={talks} />
</Basic>
