---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Content from "./Content.astro";
// import placeholderImage from "../../public/images/speaker-placeholder.webp";

interface Props {
    name: string;
    image?: ImageMetadata;
}

const { name, image } = {
    // image: placeholderImage,
    ...Astro.props,
};
---

<div class="presenter columns">
    {
        image && (
            <div class="column">
                <Image src={image} alt={`Photo of ${name}`} />
            </div>
        )
    }
    <div class="column">
        <div class="name drop-highlight is-green">{name}</div>
        <Content>
            <slot />
        </Content>
    </div>
</div>

<style>
    .presenter {
        .name {
            font-family: var(--ohs-family-text);
            font-weight: normal;
            font-size: var(--bulma-size-4);
            margin-bottom: 1rem;
            line-height: var(--bulma-content-heading-line-height);
        }
    }
</style>
