---
import Root from "../layouts/Root.astro";
import Content from "../components/Content.astro";

import Lee from "../people/lee.md";
import Sid from "../people/sid.md";
import Logo from "../components/Logo.astro";
---

<Root title="Open Hardware Summit 2026">
    <Logo />
    <Content classList={{home: true}}>
        <slot/>
        <h2>The team</h2>
		<Lee />
		<Sid />
    </Content>
</Root>
